*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
  }

.verify{
    background:  #252525;
    height: 1000px;
    color: #ffff;
    padding: 100px;
}

.twitter{

}

.vertical {
    border-left: 6px solid #ffff;
    /* height: 900px; */
    position:absolute;
    left: 50%;
}
.pad{
    padding-left: 35px;
    margin-top: -16%;
}

.iframe{
    box-shadow: 4px 9px #fafafa;
    background: #252525;
    border-radius: 20px;
}
.show{
    margin-top: 25px;
}